//- Main page of the app. Rendered HTML is decided by user login status

include mixins.pug

html
  +pageHead()

  body

    +topMenu("index")

    +appTitle()

    div.container.btn-container
      a.text-center(href="/create")
        button.btn.btn-success New Poll

      ul#list-of-polls.list-group

    +appFooter()

    script(type="text/javascript" src="/common/ajax-functions.js")
    script(type="text/javascript" src="/controllers/userController.client.js")
    script(type="text/javascript" src="/controllers/pollController.client.js")

