// This file is served if an ID with no matching poll is requested

include mixins.pug

doctype html
html
  +pageHead()

  body

    +topMenu("invalid_poll")
    +appTitle()

    div.container
      p Cannot find poll with an ID #{pollID}

    +appFooter()

