//- File which is rendered for logging in as a user

- var failed = typeof loginFailed !== "undefined";

include mixins.pug

doctype html
html
  +pageHead()

  body
    +topMenu("signup")
    +appTitle()

    div.container
      div.row
        div.col-md-3

        div.col-md-6.login

          a(href="/auth/github")
            div#login-btn.btn.btn-voting
              img(src="/public/img/github_32px.png" alt="github logo")
              p LOGIN WITH GITHUB

          - if (!failed) {
            p#pw-login-msg OR enter username/password:
          - } else {
            p#pw-login-msg.text-danger Login failed. Please retry.
          - }

          form(method="POST" action="/auth/userlogin")

            div.form-group
              label(for="userNameInput") Username
              input#userNameInput.form-control(
                name="username" type="text" placeholder="Enter username")

            div.form-group
              label(for="userPasswordInput") Password
              input#userPasswordField.form-control(
                name="password" type="password" placeholder="Password")

            button.btn.btn-voting(type="submit") Submit

        div.col-md-3

    +appFooter()
