//- This file contains mixins used in all .pug files. This helps making layouts
//- more unified across all different pages, and helps in following DRY.

- var bs = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css";
- var domain = "http://127.0.0.1";

mixin metaProps()
  meta(property="og:url" content="" + domain)
  meta(property="og:type" content="website")
  meta(property="og:title" content="FCC Voting App")
  meta(property="og:description" content="You can create polls, and vote in other polls!")
  //- meta(property="og:image" content="http://www.your-domain.com/path/image.jpg" )

mixin styleSheets()
    link(href="" + bs rel="stylesheet" type="text/css")
    link(href="/public/css/main.css" rel="stylesheet" type="text/css")

mixin pageHead()
  head
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    +metaProps()
    title FCC Voting App
    +styleSheets()

//- Main navigation bar at the top of the page.
mixin topMenu(title)
  header
    p
      span#welcome-msg
    a.menu(href="/") Home
    - if (isAuth) {
      a.menu(href="/profile") Profile
      a.menu(href="/logout") Logout
    - }
    - else {
      a.menu(href="/login") Login
      a.menu(href="/signup") Signup
    - }

mixin createButton(isAuth)
  div.container
    - if (isAuth) {
      p
        a.text-centered(href="/create")
          button.btn.btn-clem New Poll
    - } else {
      p Login to create a new poll or vote in the polls below:
    - }

mixin appTitle()
  div.container
    p.clementine-text FCC Voting App

mixin pageMainContent()
  p Not implemented yet

mixin appFooter()
  footer.container
    p
      a.author(href="http://www.freecodecamp.com/tpoikela") tpoikela

mixin fbShareButton()
  div.fb-share-button(
    data-href="" + domain
    data-layout="button_count")


