//- File which is rendered for profile requests

include mixins.pug

doctype html
html
  +pageHead()

  body
    +topMenu("profile")
    +appTitle()

    +createButton(isAuth)

    div.container
      div.row
        div.col-md-3
        div.user-profile.col-md-6

          p
            span Username: 
            span#profile-username.profile-value

          p Polls created:
          //- Populated from user poll info
          ul#profile-poll-list
        div.col-md-3

    +appFooter()

    script(type="text/javascript" src="common/ajax-functions.js")
    script(type="text/javascript" src="controllers/userController.client.js")
