// Served after signup
// ARGS: ok: true|false, based on success of signup
//       name: Registered/attempted username

- var bs = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css";

doctype html
html
  +pageHead()

  body

    header
      a.menu(href="/") Home
      - if (ok)
        a.menu(href="/login") Login
      - else
        a.menu(href="/signup") Signup

    div.container
      - if (ok) {
        p Registered user #{name} successfully.
      - } else {
        p
          Username #{name} already taken. Try again.
      - }
